[user]
	name = sivchari
	email = shibuuuu5@gmail.com

[alias]
    a = add
    br = branch
    cm = commit -s
    cma = commit --amend -s
    co = checkout
    cob = checkout -b
    brd = branch -d
    diffw = diff --word-diff
    g = git
    olog = log --oneline
    ph = push origin HEAD
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
    plh = pull origin HEAD
    rb = rebase
    rs = reset --soft HEAD^
    st = status
    sts = stash
    stsp = stash pop
    swc = switch -c
    sw = switch
[http]
[init]
    defaultBranch = main
[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[ghq]
	root = ~/workspace
