[user]
	name = siv8510
	email = shibuuuu5@gmail.com

[alias]
    a = add
	br = branch
	cm = commit
	cma = commit --ammend
	co = checkout
	cob = checkout -b
	brd = branch -d
    diffw = diff --word-diff
    g = git
	olog = log --oneline
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
    ph = push origin HEAD
	rb = rebase
    rs = reset --soft HEAD^
	st = status
